<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Restaurant List</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/styles4restaurant.css" rel="stylesheet" />
</head>

<!--Reference: Start BootStrap Source:https://startbootstrap.com/template/shop-homepage-->

<body>

   <!-- Navigation-->
  <nav class="nav justify-content-center">

    <a class="nav-link" href="http://127.0.0.1:5000/homepage"style="color:black">Home</a>
    <a class="nav-link" href="http://127.0.0.1:5000/restaurant"style="color:black">Restaurants</a>
    <a class="nav-link" href="#"style="color:black">Menu</a>
    <a class="nav-link" href="#"style="color:black">Map & Location</a>
    <a class="nav-link" href="http://127.0.0.1:5000/contactus"style="color:black">Contact Us</a>
  </nav>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Restaurant List</h1>
                <p class="lead fw-normal text-white-50 mb-0">Information includes opening time, locations, menu etc.
                </p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-coles-x1-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!--Dirty Duck-->
                        <!-- Product image-->
                        <img class="card-img-top" src="/static/image/dirty duck.jpeg" width="200px" height="150px"
                            alt="Dirty Duck logo" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Dirty Duck</h5>
                                <!-- Product price-->
                                <div>£10-£20</div>
                                <!--Opening Time-->
                                <div>Mon-Sun 12:00-23:00</div>
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                    href="http://127.0.0.1:5000/dirtyduckdetail">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb-5">
                    <div class="card h-100">
                        <!--Benugo Bar and Kitchen-->
                        <!-- Restaurant Logo-->
                        <img class="card-img-top" src="/static/image/benugo logo.png" width="200px" height="150px"
                            alt="Benugo logo" />
                        <!-- Restaurant details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Restaurant name-->
                                <h5 class="fw-bolder">Benugo Bar &
                                    Kitchen</h5>
                                <!-- Averge price-->
                                <div>£10-£20</div>
                                <!--Opening Time-->
                                <div>Mon-Sun 9:00-20:00</div>
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Restaurant actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb-5">
                    <div class="card h-100">
                        <!--Fusion Bar-->
                        <!-- Restaurant Logo-->
                        <img class="card-img-top" src="/static/image/fusion.jpeg" width="200px" height="150px"
                            alt="Fusion Bar logo" />
                        <!-- Restaurant details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Restaurant name-->
                                <h5 class="fw-bolder">Fushion Bar</h5>
                                <!-- Averge price-->
                                <div>£1-£20</div>
                                <!--Opening Time-->
                                <div>Mon-Sun 12:00-21:00</div>
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star"></div>
                                    <div class="bi-star"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Restaurant actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!--WBS Cafe-->
                        <!-- Restaurant Logo-->
                        <img class="card-img-top" src="/static/image/WBS.png" width="200px" height="150px"
                            alt="WBS cafe logo" />
                        <!-- Restaurant details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Restaurant name-->
                                <h5 class="fw-bolder">WBS Cafe</h5>
                                <!-- Averge price-->
                                <div>£1-£10</div>
                                <!--Opening Time-->
                                <div>Mon-Fri 8:00-16:00</div>
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Restaurant actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!--Red Rocket-->
                        <!-- Restaurant Logo-->
                        <img class="card-img-top" src="/static/image/red-rocket.png" width="200px" height="150px"
                            alt="Red Rocket logo" />
                        <!-- Restaurant details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Restaurant name-->
                                <h5 class="fw-bolder">Red Rocket</h5>
                                <!-- Averge price-->
                                <div>£1-£10</div>
                                <!--Opening Time-->
                                <div>Mon-Fri 8:00-16:00</div>
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Restaurant actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!--Pret A Manger-->
                        <!-- Restaurant Logo-->
                        <img class="card-img-top" src="/static/image/Pret_A_Manger_logo_new.png" width="200px"
                            height="150px" alt="Red Rocket logo" />
                        <!-- Restaurant details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Restaurant name-->
                                <h5 class="fw-bolder">Pret A Manger</h5>
                                <!-- Averge price-->
                                <div>£1-£10</div>
                                <!--Opening Time-->
                                <div>Mon-Fri 9:30-20:00</div>
                                <div>Sat 9:00-21:00</div>
                                <div>Sun 10:00-17:30</div>

                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Restaurant actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Warwick Restaurant Hub &copy; 2024</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>